.button {
  cursor: pointer;
  min-width: 40px;
  height: 30px;
  background-color: #434853;
  color: lightgrey;
  border: none;
  padding: 0px;
  margin-bottom: 1vh;
  outline: none;
}

.button--selected {
  color: black;
  background-color: white;
}